package components

templ Feedback() {
    <section>
        <button>112</button>
        <h4>Add tags for solutions</h4>
        <p>
            Easier to search for solutions based on specific task.
        </p>
        <button>Enhancement</button>
    </section>
}